<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dienen</title>
    <link rel="icon" href="/Dienen-User/public/img/Dienen logo.svg" type="image/icon type">
    <link rel="stylesheet" href="/Dienen-User/public/css/index.css" type="text/css">
</head>
<body>
    <div class="wrap">
        <div class="header">
            <div class = "header-img" style="float: left;">
                <img src="../public/img/Dienen logo.svg" width="63" height="63">
            </div>
            <div class = "header-text" style="float: left;">
                <p id="wait-time" style="font-size: 32px;"></p>
                <p id="wait-class" style="font-size: 22px;"></p>
            </div>
            <div class = "login-img" style="float: right;">
                <img src="../public/img/login-img.svg">
            </div>
        </div>
        <div class="Main-Container">
            
        </div>
    </div>
    <script src="/Dienen-User/public/js/index.js"></script>
</body>
</html>