<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dienen</title>
    <link rel="icon" href="img/Dienen logo.svg" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link rel="stylesheet" type="text/css" href="/css/checkbox.css">    
</head>
<body>
    <div class="navigation-bar">
        <div class="info">
            <div class="info-logo">
                <img src="img/Dienen logo.svg" width="62" height="62">
            </div>
            <div class="how-minutes-left"></div>
            <div class="class-name"></div>
        </div>
        <div class="profile"></div>
    </div>
    <div class="container">
        <div class="today-meal"></div>
        <div class="notice"></div>
        <div class="order-of-meals"></div>
    </div>
    <label class="switch">
        <input type="checkbox" id="toggleTheme">
        <span class="slider round"></span>
    </label>
    <script src="/js/color-main.js"></script>
</body>
</html>